@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #272934;
}

img {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5F6167;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.open {
  animation: bounce-in 0.07s ease-in;
}

.close {
  animation: bounce-out 0.07s ease-in;
}

@keyframes bounce-in {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
      opacity: 1;
      transform: scale(1);
  }

  100% {
      opacity: 0;
      transform: scale(0.5);
  }
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 0.9; }
  40% { opacity: 0.5; }
  60% { opacity: 0.3; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 0.9; }
  40% { opacity: 0.5; }
  60% { opacity: 0.3; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.open-accordion {
  -webkit-animation-name: slide-from-bottom;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-from-bottom;
  animation-duration: 0.4s;
}

@keyframes slide-from-bottom {
  0% {
    margin-top: 25%;
  }
  100% {
    margin-top: 0;
  }
}
